In [1]:
def alert(chg_old, chg_new, cname):
    r = abs(chg_old - chg_new)
    for i in range(50):
        if r[i] > 2:
            print('%chg crossed by 2% in:', cname[i])

In [2]:
def foo(chg_old, cname, t):
    table1 = read_html(url, attrs = {'class' : 'tbldata14 bdrtpg'})[0]
    print('At time :', t)
    display(table1.head())  
    chg_new = np.array(table1['%Chg'])
    
    if t%2 == 0:  #checks after every 2 minutes
        alert(chg_old, chg_new, cname)

In [3]:
from pandas.io.html import read_html
import numpy as np
from time import sleep
import pandas as pd
from IPython.display import display
import sys

url = 'https://www.moneycontrol.com/stocks/marketstats/indexcomp.php?optex=NSE&opttopic=indexcomp&index=9'
t = 0
table = read_html(url, attrs = {'class' : 'tbldata14 bdrtpg'})[0]
display(table.head())
chg_old = np.array(table['%Chg'])
cname = np.array(table['Company Name'])
while True:
    t+=0.5
    sleep(30)
    foo(chg_old, cname, t)
    if t==10:
        sys.exit('10 minutes over')

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 0.5

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 1.0

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 1.5

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 2.0

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 2.5

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 3.0

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 3.5

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 4.0

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 4.5

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 5.0

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 5.5

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 6.0

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 6.5

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 7.0

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 7.5

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 8.0

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 8.5

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 9.0

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 9.5

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

At time : 10.0

,Company Name,Industry,LastPrice,Change,%Chg,Mkt Cap(Rs cr)
0,Adani Ports Add to Watchlist Add to Portfolio,Transport Infrastructure,256.40,-1.95,-0.75,52094.12
1,Asian Paints Add to Watchlist Add to Portfolio,Paints,1742.95,141.75,8.85,167183.38
2,Axis Bank Add to Watchlist Add to Portfolio,Bank - Private,428.15,-0.10,-0.02,120800.02
3,Bajaj Auto Add to Watchlist Add to Portfolio,Automobile - 2 & 3 Wheelers,2242.30,75.70,3.49,64884.77
4,Bajaj Finance Add to Watchlist Add to Portfolio,Finance - NBFC,2951.90,205.80,7.49,177612.60

SystemExit: 10 minutes over

c:\program files (x86)\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3334: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)